body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select,div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 12px "Microsoft Yahei", "微软雅黑", "Arial Narrow", HELVETICA;
    background: #fff;
    -webkit-text-size-adjust: 100%;
}

a {
    color: #2d374b;
    text-decoration: none
}

a:hover {
    color: #cd0200;
    text-decoration: underline
}

em {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

p {
    word-wrap: break-word
}

@font-face {
    font-family: 'LogoFont';
    src: url('./public/font/logoFont.otf');
}

@font-face {
    font-family: 'LogoFont1';
    src: url('./public/font/heroicCondensed.ttf');
}

@font-face {
    font-family: 'LogoFont2';
    src: url('./public/font/Adilla and Rita.otf');
}

#background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: -webkit-linear-gradient(top,rgba(209,219,189,.7),rgba(252,255,245,.7)); /* Safari 5.1 - 6 */
    background: -o-linear-gradient(bottom,rgba(209,219,189,.7),rgba(252,255,245,.7)); /* Opera 11.1 - 12*/
    background: -moz-linear-gradient(bottom,rgba(209,219,189,.7),rgba(252,255,245,.7)); /* Firefox 3.6 - 15*/
    background: linear-gradient(to bottom,rgba(209,219,189,.7),rgba(252,255,245,.7)); /* 标准的语法 */
    z-index: -999;
}

